body {
  background-color: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: #333;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15 px;
  transition: 0.3;
}

nav ul li a:hover {
  background: #555;
  border-radius: 5px;
}
